@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    background-image: repeating-linear-gradient(344deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 23px, transparent 23px, transparent 26px),
        repeating-linear-gradient(225deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 23px, transparent 23px, transparent 26px),
        repeating-linear-gradient(126deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 23px, transparent 23px, transparent 26px),
        linear-gradient(90deg, rgb(44, 173, 167), rgb(157, 233, 134));
}

h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 18px;
    font-size: 36px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

article {
    padding: 10px;
    box-shadow: 0px 0px 1px #000;
}

/* SCROLL BAR */

body {
    --sb-track-color: #191919;
    --sb-thumb-color: #16c3ad;
    --sb-size: 12px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}